<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

  <property name="PID" value="${PID} --- |%X{transaction-id:-}|>"/>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <property name="LOG_PATH" value="${LOG_DIRECTORY:-./build/logs}/%d{yyyy/MM/dd, aux}"/>

  <appender name="APPLICATION_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/ms-semilla-%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>

    <encoder>
      <charset>utf-8</charset>
      <Pattern>${FILE_LOG_PATTERN}</Pattern>
    </encoder>
  </appender>

  <logger name="com.coallet.semilla" level="trace">
    <appender-ref ref="APPLICATION_FILE"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="APPLICATION_FILE"/>
  </root>

</configuration>
